.upper_background_bar {
    height: 120px;
    background-color: #019588;
}

.total_background {
    background-color: #d8dbd6;
    position: relative;
    height: 100vh;
}

.central_container {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 8%;
    right: 8%;
    background-color: brown;
    padding: 0;
    display: flex;
}

.left_side_container {
    height: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    width: 330px;
    flex-shrink: 0;
}

.messages_side_container {
    height: 100%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    width: calc(100% - 330px);
}

.user_profile_informations {
    flex-shrink: 0;
    flex-basis: 100px;
}

.notification_box {
    flex-shrink: 0;
    flex-basis: 100px;
}

.search_chat_box {
    flex-shrink: 0;
    flex-basis: 80px;
}

.chat_box {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.messages_container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat_options_container {
    flex-shrink: 0;
    flex-basis: 100px;
}