<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Per il corretto funzionamento delle media query -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Link Font-Awesome -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> <!-- Link Bootstrap per CSS-->

        <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Link di collegamento a Vue.js -->
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> <!-- Link Day.js -->


        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/main.js"></script>

        <title>Boolzapp web</title>
    </head>

    <body>
        <div id="root">
            <!-- Inizio header -->
            <header>

            </header>
            <!-- Fine header -->
    
            <!-- Inizio main -->
            <main>
                <!-- Inizio div per lo sfondo grigio chiaro -->
                <div class="total_background">
                    <!-- Inizio div per la barra con sfondo verde -->
                    <div class="upper_background_bar"></div>
                    <!-- Fine div per la barra con sfondo verde -->

                    <!-- Inizio container principale -->
                    <div class="container central_container">
                        <!-- Inizio container di sinistra -->
                        <div class="left_side_container">
                            <!-- Inizio riga con foto e nome utente + pulsanti -->
                            <div class="d-flex align-items-center user_profile_informations">
                                <!-- Inizio container immagine di profilo -->
                                <div class="px-2">
                                    <div class="image_container py-1 px-1">
                                        <img src="img/avatar_1.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Fine container immagine di profilo -->

                                <!-- Inizio container nome utente -->
                                <div class="flex-grow-1">
                                    <h4>Simone Granata</h4>
                                </div>
                                <!-- Fine container nome utente -->

                                <!-- Inizio container bottoni -->
                                <div class="d-flex justify-content-end pe-2">
                                    <!-- Inizio bottoni -->
                                    <button type="button"><i class="fas fa-circle-notch"></i></button>
                                    <button type="button"><i class="fas fa-comment-alt"></i></button>
                                    <button type="button"><i class="fas fa-ellipsis-v"></i></button>
                                    <!-- Fine bottoni -->
                                </div>
                                <!-- Fine container bottoni -->
                            </div>
                            <!-- Fine riga con foto e nome utente + pulsanti -->

                            <!-- Inizio riga con informazione sulle notifiche -->
                            <div class="d-flex notification_box">
                                <!-- Inizio container bottone notifiche -->
                                <div class="px-2">
                                    <!-- Inizio bottone notifiche -->
                                    <button type="button"><i class="fas fa-bell-slash"></i></button>
                                    <!-- Fine bottone notifiche -->
                                </div>
                                <!-- Fine container bottone notifiche -->

                                <!-- Inizio container testi per l'attivazione delle notifiche -->
                                <div class="flex-grow-1">
                                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                                    <a href="">Attiva le notifiche desktop</a>
                                </div>
                                <!-- Fine container testi per l'attivazione delle notifiche -->
                            </div>
                            <!-- Fine riga con informazione sulle notifiche -->

                            <!-- Inizio ricerca delle chat -->
                            <div class="search_chat_box py-2">
                                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchText" @keyup="getFilteredContacts()">
                            </div>
                            <!-- Fine ricerca delle chat -->

                            <!-- Inizio container delle chat -->
                            <div class="chat_box">
                                <!-- Inizio riga contenente una chat -->
                                <div class="d-flex align-items-center " :class="i === activeContact.index ? 'chat_row_active' : 'chat_row'" v-for="(contact, i) in filteredContacts" @click="onChatClick(contact, i)">
                                    <div class="px-1">
                                        <!-- Inizio container immagine di profilo -->
                                        <div class="image_container px-1 py-1">
                                            <img :src="contact.avatar" alt="">
                                        </div>
                                        <!-- Fine container immagine di profilo -->
                                    </div>
                                    <div class="flex-grow-1">
                                        <!-- Inizio testi relativi all'ultimo messaggio -->
                                        <h3>{{ contact.name }}</h3>
                                        <p>{{ contact.messages[contact.messages.length - 1].text }}</p>
                                        <p class="last_mess_time">{{ contact.messages[contact.messages.length - 1].date }}</p>
                                        <!-- Fine testi relativi all'ultimo messaggio -->
                                    </div>
                                </div>
                                <!-- Fine riga contenente una chat -->
                            </div>
                            <!-- Fine container delle chat -->
                        </div>
                        <!-- Fine container di sinistra -->

                        <!-- Inizio container di destra -->
                        <div class="messages_side_container">
                            <!-- Inizio riga superiore con foto, nome e ultimo accesso del contatto -->
                            <div class="d-flex align-items-center contact_profile_informations" v-if="activeContact.name">
                                <!-- Inizio container immagine di profilo -->
                                <div class="px-2">
                                    <div class="image_container py-1 px-1">
                                        <img :src="activeContact.avatar" alt="">
                                    </div>
                                </div>
                                <!-- Inizio container immagine di profilo -->
                                
                                <!-- Inizio dei testi riportanti nome e ultimo accesso del contatto -->
                                <div class="flex-grow-1">
                                    <h4>{{ activeContact.name }}</h4>
                                    <p>Ultimo accesso oggi alle {{ activeContact.messages[activeContact.messages.length - 1].date }}</p>
                                </div>
                                <!-- Fine dei testi riportanti nome e ultimo accesso del contatto -->

                                <!-- Inizio bottoni -->
                                <div class="d-flex px-2">
                                    <button type="button"><i class="fas fa-search"></i></button>
                                    <button type="button"><i class="fas fa-paperclip"></i></button>
                                    <button type="button"><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                                <!-- Fine bottoni -->
                            </div>
                            <!-- Fine riga superiore con foto, nome e ultimo accesso del contatto -->

                            <!-- Inizio container di tutti i messaggi della chat -->
                            <div class="messages_container py-4 " :class="activeContact.name ? '' : 'border-top-right-radius-6-px'">
                                <div class="row" v-for="message in activeContact.messages">
                                    <div class="col-8 d-flex" :class="message.status === 'sent' ? 'justify-content-end ms-auto' : 'justify-content-start me-auto'">  
                                        <div :class="message.status === 'sent' ? 'sent_message' : 'received_message'">
                                            <p>{{ message.text }}</p>
                                            <p class="mess_time">{{ message.date }}</p>
                                            <!-- Inizio dropdown -->
                                            <div class="dropdown">
                                                <!-- Inizio dropdown button -->
                                                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-chevron-down"></i>
                                                </button>
                                                <!-- Fine dropdown button -->

                                                <!-- Inizio dropdown menu -->
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">Message info</a>
                                                    <a class="dropdown-item" href="#">Delete message</a>
                                                </div>
                                                <!-- Fine dropdown menu -->
                                            </div>
                                            <!-- Fine dropdown -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fine container di tutti i messaggi della chat -->

                            <!-- Inizio container di tutte le opzioni per rispondere ad un messaggio -->
                            <div class="chat_options_container d-flex justify-content-center align-items-center">
                                <!-- Inizio container bottone emoji -->
                                <div class="d-flex justify-content-center align-items-center px-3">
                                    <!-- Inizio bottone emoji -->
                                    <button type="button"><i class="far fa-smile"></i></button>
                                    <!-- Fine bottone emoji -->
                                </div>
                                <!-- Fine container bottone emoji -->

                                <!-- Inizio container input -->
                                <div class="flex-grow-1">
                                    <!-- Inizio input per inviare un messaggio -->
                                    <input type="text" placeholder="Scrivi un messaggio" v-model="newTextMessage" @keyup.enter="sendTextMessage()">
                                    <!-- Fine input per inviare un messaggio -->
                                </div>
                                <!-- Fine container input -->

                                <!-- Inizio container bottone audio/invio -->
                                <div class="d-flex justify-content-center align-items-center px-3">
                                    <!-- Inizio bottone per registare audio/inviare un messaggio -->
                                    <button type="button" @click="sendTextMessage()">
                                        <i class="fas fa-microphone" v-if="newTextMessage === ''"></i>
                                        <i class="fas fa-paper-plane" v-else></i>
                                    </button>
                                    <!-- Fine bottone per registare audio/inviare un messaggio -->
                                </div>
                                <!-- Fine container bottone audio/invio -->
                            </div>
                            <!-- Fine container di tutte le opzioni per rispondere ad un messaggio -->
                        </div>
                        <!-- Fine container di destra -->
                    </div>
                    <!-- Fine container principale -->
                </div>
                <!-- Fine div per lo sfondo grigio chiaro -->
            </main>
            <!-- Fine main -->
    
            <!-- Inizio footer -->
            <footer>
    
            </footer>
            <!-- Fine footer -->
        </div>
    </body>
</html>
